*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(45deg ,#07C8F9, #0D41E1);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}


header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center; /*align horizontal*/
    align-items: center; /*align vertical*/
    
}


form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    background-color:aliceblue;
    border: none;
    border-radius: 10px 0px 10px;
    
    /* ESPAÇO ENTRE A CAIXA INPUT E O BOTÃO*/
    margin-left: 10px; 
    
}

form button{
    color: #0D41E1;
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background:#0D41E1;
    color: aliceblue;
}

footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 50px;
}


/* itens adicionados com JavaScript */
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 50%;
    list-style: none;
}

.todo{
    background: aliceblue;
    margin: 0.5rem;
    color: #0D41E1;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 0px 10px;
    transition: 0.5s ease;
    padding: 0.5rem;
}

.todo li {
    flex: 1;
}

.complete-btn, .trash-btn{
   color: aliceblue;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px 0px 10px;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.complete-btn{
    background-color: rgb(121, 194, 121);
}

.trash-btn{
    background-color: rgb(211, 54, 54);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    opacity: 0.5;
    text-decoration: line-through;
    
}

.fall{
    transform: translateY(8rem) rotate(20deg);
    opacity: 0;
}



select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position:relative;
    overflow: hidden;
    border-radius: 10px 0px 10px;
}

select{
    color: #0D41E1;
    width: 15em;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px 0px 10px;

}

.select::after{
    content: "\25bc";
    position: absolute;
    background: aliceblue;
    color: #0D41E1;
    top: 0;
    right: 0;
    padding: 0.5rem;
    pointer-events: none;
    transition: all 0.3 ease;
    border-radius: 10px 0px 10px;
}

.select:hover::after{
    background-color: #0D41E1;
    color: aliceblue;
}



.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltiptext:hover {
    visibility: visible;
  }